@font-face {
    font-family: Abdoullah Ashgar EL-kharef;
    src: url('./../fonts/Abdoullah\ Ashgar\ EL-kharef.ttf');
    font-family: Mulish;
    src: url('./../fonts/Mulish-VariableFont_wght.ttf');
}

/*Desktop Screen*/
.img-style {
    width: 400px;
    height: 456px;
    border-radius: 10px;
}

.success-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.success-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1F1249;
    font-family: 'Mulish';
    text-decoration-line: underline;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.success-section h1 {
    font-size: 42px;
    line-height: 120%;
    align-items: center;
    text-transform: capitalize;
    color: #2D2D2D;
    font-family: 'Abdoullah Ashgar EL-kharef';
    margin: 0;
}


/*Mobile Screen*/
@media (min-width: 320px) and (max-width: 425px) {

    .img-style {
        width: 322px;
        height: 315px;
        border-radius: 10px;
    }
    
    .success-card {
        flex-direction: column;
    }
    
    .success-section p {
        text-align: center;
        align-items: center;
    }
    
    .success-section h1 {
        font-size: 32px;
    }

}
/* Laptop 1024px*/
@media screen and (max-width:1200px) {

    .success-card {
        padding: 30px;
        gap: 30px;
    }
        
    .success-section h1 {
        font-size: 28px;
    }
}